#screen {
  position: relative;
  width: 540px;
  height: 244px;
  
  background: url(../img/LCD.svg);
  background-size: 540px 244px;
}

#inner-screen {
  position: absolute;
  
  top: 82px;
  left: 62px;
  
  background-color: #87AD34;
}

.screen-col, .char-col {
  float: left;
}

.screen-row:after, .char-row:after {
  content: "";
  display: table;
  clear: both;
}

.screen-row {
  margin-bottom: 2px;
}

.screen-row:last-of-type {
  margin-bottom: 0;
}

.screen-col {
  margin-right: 2px;
}

.screen-col:last-of-type {
  margin-right: 0;
}

.char-col {
  width: 4px;
  height: 4px;
  
  background-color: #7C9E31;
  
  margin-right: 1px;
}

.char-col:last-of-type {
  margin-right: 0;
}

.char-row {
  margin-bottom: 1px;
}

.char-row:last-of-type {
  margin-bottom: 0;
}

.char-col.active {
  background-color: #2F3E38;
}

